@model SuperHero.Models.SuperHeroModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SuperHeroModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="alterEgo" class="control-label"></label>
                <input asp-for="alterEgo" class="form-control" />
                <span asp-validation-for="alterEgo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="primaryAbility" class="control-label"></label>
                <input asp-for="primaryAbility" class="form-control" />
                <span asp-validation-for="primaryAbility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="secondaryAbility" class="control-label"></label>
                <input asp-for="secondaryAbility" class="form-control" />
                <span asp-validation-for="secondaryAbility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="catchPhrase" class="control-label"></label>
                <input asp-for="catchPhrase" class="form-control" />
                <span asp-validation-for="catchPhrase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
